
<app-header></app-header>

<div class="auth-container">
    <h2>Login</h2>
    <form (submit)="login()">
      <label>Email</label>
      <input type="email" [(ngModel)]="userName" name="userName" placeholder="Enter your user name" required>
      
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Enter your password" required>
      
      <button type="submit" class="primary-btn">Login</button>
    </form>

    <p class="redirect-text">New user? <a (click)="singUp()" routerLink="/signup">Create an account</a></p>
</div>
<app-footer></app-footer>


