<!-- <div class="seller-container">
    <h2>Welcome Seller</h2>
    <button (click)="navigateToAddProperty()">Add Property</button>
    <button (click)="navigateToViewProperty()">View Properties</button>
  </div>
   -->



   <div class="seller-container">
    <h2>Welcome Seller</h2>

    <!-- Property Image Carousel -->
    <!-- <div class="carousel-container">
        <button class="carousel-btn prev" (click)="prevSlide()">&#10094;</button>
        <div class="carousel-images">
            <img *ngFor="let img of images; let i = index" [src]="img" [class.active]="i === currentIndex">
        </div>
        <button class="carousel-btn next" (click)="nextSlide()">&#10095;</button>
    </div> -->

    <!-- Buttons -->
    <button (click)="navigateToAddProperty()">Add Property</button>
    <button (click)="navigateToViewProperty()">View Properties</button>
</div>
